<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="client" routerLinkActive="Active" class="nav-link">Client-list</a>
    </li>
    <li class="nav-item">
      <a routerLink="/create-client" routerLinkActive="Active" class="nav-link">Add-Client</a>
    </li>
  </ul>
</nav>
<h1 class="text-center">{{ title }}</h1>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="footer">
  <div class="container">
    <span>All rights reserved</span>
  </div>
</footer>
<h2>Client List</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email Id</th>
      <th>Date of meeting</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clients">
      <td>{{ client.FirstName }}</td>
      <td>{{ client.LastName }}</td>
      <td>{{ client.emailId }}</td>
      <td>{{client.Dateofmeeting}}</td>
      <td>
        <button class="btn btn-success" (click)="updateClient(client.id)">Update</button>
        &nbsp;
        <button class="btn btn-danger" (click)="deleteClient(client.id)">Delete</button>
        &nbsp;
        <button class="btn btn-info" (click)="clientDetails(client.id)">View</button>
      </td>
    </tr>
  </tbody>
</table>
